
__pycache__/
*.py[cod]
*$py.class

models/*.gguf
models/*.bin
models/*.zip

logs.db
logs.db-wal
logs.db-shm
backend/*.db
*.log
error.txt
server.log

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
